---
title: UV-CDAT 2.2 Changelog
subtitle: Columns template
description: All changes since UV-CDAT 2.1
---

{% extends "base.j2" %}

{% block container %}

# UV-CDAT 2.2 Changelog

* [#1024](https://github.com/UV-CDAT/uvcdat/issues/1024) mean on vcs plots should use cdutil.averager if possible
* [#976](https://github.com/UV-CDAT/uvcdat/issues/976) Longitude and latitude labels
* [#924](https://github.com/UV-CDAT/uvcdat/issues/924) no need for git to check ssl
* [#889](https://github.com/UV-CDAT/uvcdat/issues/889) Disable 3D plotting tools for data with two spatial dimensions.
* [#810](https://github.com/UV-CDAT/uvcdat/issues/810) try to detect protocol for user
* [#747](https://github.com/UV-CDAT/uvcdat/pull/747) Fixing UVCDAT runtime environment
* [#651](https://github.com/UV-CDAT/uvcdat/issues/651) Fix vcs interact warnings 
* [#629](https://github.com/UV-CDAT/uvcdat/issues/629) Some tests modify the source tree
* [#616](https://github.com/UV-CDAT/uvcdat/issues/616) animation png files should be cleaned (and somewhere else)
* [#610](https://github.com/UV-CDAT/uvcdat/issues/610) isoline don't have labels
* [#503](https://github.com/UV-CDAT/uvcdat/issues/503) text rotation in VTK different from vcs way
* [#421](https://github.com/UV-CDAT/uvcdat/issues/421) Add seawater package
* [#1071](https://github.com/UV-CDAT/uvcdat/issues/1071) Pyclimate not built with build mode all
* [#1063](https://github.com/UV-CDAT/uvcdat/issues/1063) test failing because mean is different 
* [#1057](https://github.com/UV-CDAT/uvcdat/issues/1057) GUI cannot load variable
* [#1056](https://github.com/UV-CDAT/uvcdat/issues/1056) Cython classmethod_utility_code used in VisTrails vtDVD3D
* [#1048](https://github.com/UV-CDAT/uvcdat/issues/1048) average() indentation error
* [#1020](https://github.com/UV-CDAT/uvcdat/issues/1020) in some case the continents are not plotted properly (polar proj with north pole)
* [#1019](https://github.com/UV-CDAT/uvcdat/issues/1019) Traceback creating VCS plot
* [#1018](https://github.com/UV-CDAT/uvcdat/issues/1018) Traceback on cell creation
* [#1017](https://github.com/UV-CDAT/uvcdat/issues/1017) vtk package doesn't load
* [#1008](https://github.com/UV-CDAT/uvcdat/issues/1008) invalid units lead to error at plot time
* [#999](https://github.com/UV-CDAT/uvcdat/issues/999) Multiple errors in vcs x.show
* [#982](https://github.com/UV-CDAT/uvcdat/pull/982) relative path somehow got broken
* [#981](https://github.com/UV-CDAT/uvcdat/issues/981) esmp install broken
* [#933](https://github.com/UV-CDAT/uvcdat/issues/933) Fix colormap editor 0-239 color buttons to something else
* [#930](https://github.com/UV-CDAT/uvcdat/issues/930) Error reporting returns 404
* [#837](https://github.com/UV-CDAT/uvcdat/issues/837) git_update.sh fails if updating to a tag
* [#800](https://github.com/UV-CDAT/uvcdat/issues/800) PyClimate uses old Numeric code
* [#715](https://github.com/UV-CDAT/uvcdat/issues/715) The plotting of 120 plots and clearing  is taking too long
* [#713](https://github.com/UV-CDAT/uvcdat/issues/713) Out of source detection is broken
* [#615](https://github.com/UV-CDAT/uvcdat/issues/615) animation seg fault on Linux
* [#523](https://github.com/UV-CDAT/uvcdat/issues/523) CDAT_BUILD_PARALLEL=ON doesn't seem to quite work
* [#234](https://github.com/UV-CDAT/uvcdat/issues/234) Interactive Mode Doesn't Work
* [#1091](https://github.com/UV-CDAT/uvcdat/pull/1091) Vcs2d interactions updated
* [#1090](https://github.com/UV-CDAT/uvcdat/pull/1090) Remove pycharm and unnecessary README files
* [#1083](https://github.com/UV-CDAT/uvcdat/pull/1083) Issue1034 durack1 fix h5py dependencies
* [#1078](https://github.com/UV-CDAT/uvcdat/issues/1078) Make text object coordinates more bulletproof ?
* [#1076](https://github.com/UV-CDAT/uvcdat/pull/1076) Adding 3 to amplitude so that os roundup diffs do not show in mean
* [#1075](https://github.com/UV-CDAT/uvcdat/pull/1075) Issue1071 durack1 pyclimate check build settings
* [#1073](https://github.com/UV-CDAT/uvcdat/pull/1073) Issue423 durack1 add vacumm package
* [#1072](https://github.com/UV-CDAT/uvcdat/pull/1072) Issue421 durack1 add seawater packages
* [#1069](https://github.com/UV-CDAT/uvcdat/pull/1069) Removes a warning
* [#1067](https://github.com/UV-CDAT/uvcdat/pull/1067) Line duplicate points fix
* [#1062](https://github.com/UV-CDAT/uvcdat/pull/1062) Cmake fixes
* [#1061](https://github.com/UV-CDAT/uvcdat/pull/1061) Issue1034 durack1 add h5py
* [#1060](https://github.com/UV-CDAT/uvcdat/pull/1060) fix #118
* [#1052](https://github.com/UV-CDAT/uvcdat/pull/1052) should address part of #729
* [#1051](https://github.com/UV-CDAT/uvcdat/pull/1051) Issue 1049 taylor json
* [#1050](https://github.com/UV-CDAT/uvcdat/pull/1050) Reduce indentation level of the block beginning "if len(sub)&gt;1:" in aver...
* [#1049](https://github.com/UV-CDAT/uvcdat/issues/1049) taylordiagrams do not save json 
* [#1047](https://github.com/UV-CDAT/uvcdat/pull/1047) 1. In the section involving 'allaxesdummy', where a dummy variable is cr...
* [#1046](https://github.com/UV-CDAT/uvcdat/issues/1046) AttributeError: 'QCDATWidget' object has no attribute 'inputPorts'
* [#1045](https://github.com/UV-CDAT/uvcdat/issues/1045) cdscan issue - invalid time coords
* [#1041](https://github.com/UV-CDAT/uvcdat/pull/1041) fix #976
* [#1040](https://github.com/UV-CDAT/uvcdat/pull/1040) fix #999
* [#1039](https://github.com/UV-CDAT/uvcdat/pull/1039) Fix #1008
* [#1038](https://github.com/UV-CDAT/uvcdat/pull/1038) Optimize vtk
* [#1037](https://github.com/UV-CDAT/uvcdat/pull/1037) Issue1036 durack1 ipython2.4.1 update
* [#1036](https://github.com/UV-CDAT/uvcdat/issues/1036) Update ipython to 2.4.1
* [#1034](https://github.com/UV-CDAT/uvcdat/issues/1034) Adding h5py to "full" builds
* [#1032](https://github.com/UV-CDAT/uvcdat/pull/1032) Issue1031 durack1 hdf5 tools tweaks
* [#1031](https://github.com/UV-CDAT/uvcdat/issues/1031) HDF5Tools tweaks to deal with problematic missing_value
* [#1028](https://github.com/UV-CDAT/uvcdat/pull/1028) enhanced 'Mean' attribute on vcs plots
* [#1027](https://github.com/UV-CDAT/uvcdat/pull/1027) fix #1026 - sftbyrgn typo fixes and added PCMDI ezget report URL
* [#1026](https://github.com/UV-CDAT/uvcdat/issues/1026) sftbyrgn typo fixes and clean up docstring
* [#1025](https://github.com/UV-CDAT/uvcdat/pull/1025) Issue1023 durack1 cython0p21p2 update
* [#1023](https://github.com/UV-CDAT/uvcdat/issues/1023) Update Cython to 0.21.2
* [#1022](https://github.com/UV-CDAT/uvcdat/pull/1022) was returning flipped y1/y2 even if user specified directions
* [#1016](https://github.com/UV-CDAT/uvcdat/pull/1016) Increase the initial GL2PS feedback buffer size.
* [#1014](https://github.com/UV-CDAT/uvcdat/pull/1014) Update background color
* [#1013](https://github.com/UV-CDAT/uvcdat/pull/1013) Export text as paths in vector exports.
* [#1010](https://github.com/UV-CDAT/uvcdat/pull/1010) Issue 1009 horrible prompt
* [#1009](https://github.com/UV-CDAT/uvcdat/issues/1009) setup_runtime messes with prompt!
* [#1005](https://github.com/UV-CDAT/uvcdat/pull/1005) do not turn off metrics when no GUI
* [#1001](https://github.com/UV-CDAT/uvcdat/issues/1001) 2D plots with latitude and height
* [#998](https://github.com/UV-CDAT/uvcdat/pull/998) Need to escape an additional % in install.py
* [#996](https://github.com/UV-CDAT/uvcdat/issues/996) metrics not build if CDAT_BUILD_GUI=OFF
* [#995](https://github.com/UV-CDAT/uvcdat/pull/995) % had to be escaped
* [#994](https://github.com/UV-CDAT/uvcdat/pull/994) Checking for http and https as well now
* [#993](https://github.com/UV-CDAT/uvcdat/pull/993) Fix git clone &amp; update helper scripts
* [#992](https://github.com/UV-CDAT/uvcdat/pull/992) Updated packages reference
* [#991](https://github.com/UV-CDAT/uvcdat/issues/991) mac build broken
* [#990](https://github.com/UV-CDAT/uvcdat/pull/990) Merge remote-tracking branch 'origin/fix-quotes-updated' into release
* [#989](https://github.com/UV-CDAT/uvcdat/issues/989) 2.1.0 needs to be merged in master
* [#988](https://github.com/UV-CDAT/uvcdat/pull/988) Setting the correct PYTHON_SITE_PACKAGES_PREFIX on Apple
* [#987](https://github.com/UV-CDAT/uvcdat/pull/987) Create an option to enable vtkweb
* [#985](https://github.com/UV-CDAT/uvcdat/pull/985) fix #984
* [#984](https://github.com/UV-CDAT/uvcdat/issues/984) cdutil times criteriaargclim is useless and leads to error
* [#980](https://github.com/UV-CDAT/uvcdat/issues/980) GL2PS export of widgets incorrect
* [#979](https://github.com/UV-CDAT/uvcdat/pull/979) Line duplicate points fix
* [#978](https://github.com/UV-CDAT/uvcdat/pull/978) Update udunits2 patch for travis mac builds.
* [#977](https://github.com/UV-CDAT/uvcdat/issues/977) Fix udunits on mac / travis
* [#975](https://github.com/UV-CDAT/uvcdat/pull/975) Update cmake to version 3.1 on travis before building
* [#974](https://github.com/UV-CDAT/uvcdat/pull/974) System python updated
* [#973](https://github.com/UV-CDAT/uvcdat/pull/973) Build in source
* [#972](https://github.com/UV-CDAT/uvcdat/pull/972) Issue846 doutriaux1 netcdf432 and deps update
* [#971](https://github.com/UV-CDAT/uvcdat/pull/971) Fixes exception from VTKVCSBackend
* [#970](https://github.com/UV-CDAT/uvcdat/pull/970) fix #969
* [#969](https://github.com/UV-CDAT/uvcdat/issues/969) markers not drawn if x world coordinate reversed
* [#968](https://github.com/UV-CDAT/uvcdat/pull/968) Fix quotes updated
* [#965](https://github.com/UV-CDAT/uvcdat/pull/965) Issue 960 bad labels
* [#963](https://github.com/UV-CDAT/uvcdat/issues/963) HDF5 patch step fails with cmake-gui
* [#962](https://github.com/UV-CDAT/uvcdat/pull/962) fix #960
* [#960](https://github.com/UV-CDAT/uvcdat/issues/960) default boxfill wrong lat labels
* [#957](https://github.com/UV-CDAT/uvcdat/issues/957) color map error
* [#956](https://github.com/UV-CDAT/uvcdat/pull/956) Star and triangle fix
* [#952](https://github.com/UV-CDAT/uvcdat/issues/952) ctest might fail because of too many digits on mean
* [#951](https://github.com/UV-CDAT/uvcdat/pull/951) Vcs3D features for v2.1.1
* [#944](https://github.com/UV-CDAT/uvcdat/pull/944) Issue942 durack1 python279 update
* [#942](https://github.com/UV-CDAT/uvcdat/issues/942) Update python to 2.7.9
* [#941](https://github.com/UV-CDAT/uvcdat/pull/941) Issue814 durack1 spyder232 update
* [#926](https://github.com/UV-CDAT/uvcdat/pull/926) Enable labels for isolines 
* [#921](https://github.com/UV-CDAT/uvcdat/pull/921) Issue841 durack1 matplotlib142 update
* [#920](https://github.com/UV-CDAT/uvcdat/pull/920) Issue856 durack1 ipython231 update
* [#917](https://github.com/UV-CDAT/uvcdat/pull/917) Issue847 durack1 udunits2217 update
* [#916](https://github.com/UV-CDAT/uvcdat/pull/916) Issue846 durack1 netcdf432 and deps update
* [#909](https://github.com/UV-CDAT/uvcdat/pull/909) Removed references to textcombined.colormap
* [#867](https://github.com/UV-CDAT/uvcdat/issues/867) boxfill plots don't pick proper interval
* [#859](https://github.com/UV-CDAT/uvcdat/issues/859) UVCDAT GUI can't read ACME (CAM) data.
* [#856](https://github.com/UV-CDAT/uvcdat/issues/856) Update ipython to 2.3.1
* [#847](https://github.com/UV-CDAT/uvcdat/issues/847) Update udunits to 2.2.x branch
* [#846](https://github.com/UV-CDAT/uvcdat/issues/846) Update netcdf to 4.3.2
* [#841](https://github.com/UV-CDAT/uvcdat/issues/841) Update matplotlib to 1.4.2
* [#825](https://github.com/UV-CDAT/uvcdat/issues/825) Several warnings during the cmake stage that should be cleaned?
* [#814](https://github.com/UV-CDAT/uvcdat/issues/814) Update spyder to 2.3.2
* [#678](https://github.com/UV-CDAT/uvcdat/issues/678) Install problems on kubuntu 14.04
* [#671](https://github.com/UV-CDAT/uvcdat/issues/671) Fix errant button behavior
* [#642](https://github.com/UV-CDAT/uvcdat/issues/642) animation processing message
* [#592](https://github.com/UV-CDAT/uvcdat/issues/592) make sure vcs animations work on linux
* [#526](https://github.com/UV-CDAT/uvcdat/issues/526) UnboundLocalError in uvcdat_cdms/pipeline_helper.py
* [#518](https://github.com/UV-CDAT/uvcdat/issues/518) DV3D: Expose Hovmuller plots in GUI
* [#517](https://github.com/UV-CDAT/uvcdat/issues/517) pdf files are HUGE
* [#511](https://github.com/UV-CDAT/uvcdat/issues/511) load and close with large data files doesn't work
* [#495](https://github.com/UV-CDAT/uvcdat/issues/495) labels on isolines missing
* [#219](https://github.com/UV-CDAT/uvcdat/issues/219) Varible Edit Shows Wrong Results
* [#159](https://github.com/UV-CDAT/uvcdat/issues/159) edit_window_related_crashes
* [#118](https://github.com/UV-CDAT/uvcdat/issues/118) Zonal regridding seg faults unless regridTool='regrid2'
* [#106](https://github.com/UV-CDAT/uvcdat/issues/106) Dimension mixing in DV3D slicer.
{% endblock container %}