---
title: UV-CDAT Changelog
subtitle: Columns template
description: All changes since UV-CDAT 2.1
---

{% extends "base.j2" %}

{% block container %}

## Closed Issues
### ACME

 * **Bug**: [No usch text combined](https://github.com/UV-CDAT/uvcdat/issues/1096)
 * **Bug**: [average() indentation error](https://github.com/UV-CDAT/uvcdat/issues/1048)

### Build

 * ****: [SciPy fails to build on CentOS 6.6](https://github.com/UV-CDAT/uvcdat/issues/1192)
 * **Bug**: [vtkXOpenGLRenderWindow: Could not find a decent visual](https://github.com/UV-CDAT/uvcdat/issues/1134)
 * **Bug**: [Pyclimate not built with build mode all](https://github.com/UV-CDAT/uvcdat/issues/1071)
 * **Bug**: [test failing because mean is different ](https://github.com/UV-CDAT/uvcdat/issues/1063)
 * **Bug**: [Building on OS X 10.10.2](https://github.com/UV-CDAT/uvcdat/issues/1012)
 * **Bug**: [metrics not build if CDAT_BUILD_GUI=OFF](https://github.com/UV-CDAT/uvcdat/issues/996)
 * **Bug**: [mac build broken](https://github.com/UV-CDAT/uvcdat/issues/991)
 * **Enhancement**: [no need for git to check ssl](https://github.com/UV-CDAT/uvcdat/issues/924)
 * **Enhancement**: [Update udunits to 2.2.x branch](https://github.com/UV-CDAT/uvcdat/issues/847)
 * **Enhancement**: [Update netcdf to 4.3.2](https://github.com/UV-CDAT/uvcdat/issues/846)
 * **Enhancement**: [Update matplotlib to 1.4.2](https://github.com/UV-CDAT/uvcdat/issues/841)
 * **Enhancement**: [Several warnings during the cmake stage that should be cleaned?](https://github.com/UV-CDAT/uvcdat/issues/825)
 * **Enhancement**: [try to detect protocol for user](https://github.com/UV-CDAT/uvcdat/issues/810)
 * **Bug**: [Out of source detection is broken](https://github.com/UV-CDAT/uvcdat/issues/713)

### DV3D

 * ****: [Fix list method](https://github.com/UV-CDAT/uvcdat/pull/1287)
 * **Bug**: [dv3d list broken](https://github.com/UV-CDAT/uvcdat/issues/1285)
 * ****: [Vcs3 d fix release issues](https://github.com/UV-CDAT/uvcdat/pull/1269)
 * ****: [Vcs3 d fix release issues](https://github.com/UV-CDAT/uvcdat/pull/1268)
 * **Bug**: [vcs3D-return_to_shell_on_q_keypress_event](https://github.com/UV-CDAT/uvcdat/pull/1157)
 * ****: [Fix error in getCoordType](https://github.com/UV-CDAT/uvcdat/pull/1156)
 * ****: [Vcs3 d fix 2.2 slider issues](https://github.com/UV-CDAT/uvcdat/pull/1147)
 * **Bug**: [Slider issues with Hovmuller plot and vector slicer.](https://github.com/UV-CDAT/uvcdat/issues/1146)
 * **Enhancement**: [Vcs3D features for v2.1.1](https://github.com/UV-CDAT/uvcdat/pull/951)
 * **Enhancement**: [Vcs3D reenable 3D logo](https://github.com/UV-CDAT/uvcdat/pull/943)
 * **Enhancement**: [Disable 3D plotting tools for data with two spatial dimensions.](https://github.com/UV-CDAT/uvcdat/issues/889)
 * **Bug**: [3D_Scalar Unexpected Error](https://github.com/UV-CDAT/uvcdat/issues/884)

### Documentation

 * **Bug**: [UV-CDAT docs website: cdms/cdtime manual page problem](https://github.com/UV-CDAT/uvcdat/issues/1136)

### Gatekeeper

 * **Enhancement**: [Add message at the end of setup_runtime script](https://github.com/UV-CDAT/uvcdat/issues/1224)
 * **Bug**: [Cannot Animate Isoline](https://github.com/UV-CDAT/uvcdat/issues/1199)
 * **Bug**: [boxfill custom in GUI](https://github.com/UV-CDAT/uvcdat/issues/1198)
 * **Bug**: [renderTemplate needs list, gets None](https://github.com/UV-CDAT/uvcdat/issues/1139)
 * **Bug**: [test_isolines_label](https://github.com/UV-CDAT/uvcdat/issues/1111)
 * **Bug**: [Isofill are off](https://github.com/UV-CDAT/uvcdat/issues/1105)
 * **Bug**: [Removing marker with marker=None generates an error in yxvsx 1D plot (2.1)](https://github.com/UV-CDAT/uvcdat/issues/1103)
 * ****: [taylordiagrams do not save json ](https://github.com/UV-CDAT/uvcdat/issues/1049)
 * **Bug**: [vtk package doesn't load](https://github.com/UV-CDAT/uvcdat/issues/1017)
 * **Bug**: [invalid units lead to error at plot time](https://github.com/UV-CDAT/uvcdat/issues/1008)
 * **Bug**: [Multiple errors in vcs x.show](https://github.com/UV-CDAT/uvcdat/issues/999)
 * **Enhancement**: [Longitude and latitude labels](https://github.com/UV-CDAT/uvcdat/issues/976)
 * **Bug**: [color map error](https://github.com/UV-CDAT/uvcdat/issues/957)
 * **Bug**: [UI problems on colormap editor](https://github.com/UV-CDAT/uvcdat/issues/911)
 * **Enhancement**: [Disable 3D plotting tools for data with two spatial dimensions.](https://github.com/UV-CDAT/uvcdat/issues/889)
 * **Enhancement**: [animation png files should be cleaned (and somewhere else)](https://github.com/UV-CDAT/uvcdat/issues/616)
 * **Bug**: [animation seg fault on Linux](https://github.com/UV-CDAT/uvcdat/issues/615)

### UVCDAT GUI

 * **Bug**: [No usch text combined](https://github.com/UV-CDAT/uvcdat/issues/1096)
 * **Bug**: [GUI cannot load variable](https://github.com/UV-CDAT/uvcdat/issues/1057)
 * **Bug**: [Cython classmethod_utility_code used in VisTrails vtDVD3D](https://github.com/UV-CDAT/uvcdat/issues/1056)
 * **Bug**: [Refresh problem with 2.1](https://github.com/UV-CDAT/uvcdat/issues/1007)
 * **Bug**: [UI problems on colormap editor](https://github.com/UV-CDAT/uvcdat/issues/911)
 * ****: [Vertical scale on Yxvsx plot upside down?](https://github.com/UV-CDAT/uvcdat/issues/898)
 * ****: [Deleting all variables doesn't work if one variable is derived from another (in GUI).](https://github.com/UV-CDAT/uvcdat/issues/897)
 * ****: [UV-CDAT Label on VCS 1D and 2D Plots](https://github.com/UV-CDAT/uvcdat/issues/857)
 * **Enhancement**: [uvcdat "executable" should unset env or it might be using the "Wrong" python](https://github.com/UV-CDAT/uvcdat/issues/730)
 * ****: [animation processing message](https://github.com/UV-CDAT/uvcdat/issues/642)

### VCS

 * **Bug**: [dv3d list broken](https://github.com/UV-CDAT/uvcdat/issues/1285)
 * ****: [Error on meshfill](https://github.com/UV-CDAT/uvcdat/issues/1245)
 * ****: [animation boxfill broken](https://github.com/UV-CDAT/uvcdat/issues/1234)
 * **Bug**: [isoline labels text color broken](https://github.com/UV-CDAT/uvcdat/issues/1230)
 * **Bug**: [Ext1 and Ext2 are rendering incorrectly](https://github.com/UV-CDAT/uvcdat/issues/1204)
 * **Bug**: [Cannot Animate Isoline](https://github.com/UV-CDAT/uvcdat/issues/1199)
 * **Bug**: [boxfill custom in GUI](https://github.com/UV-CDAT/uvcdat/issues/1198)
 * **Bug**: [clear canvas while animation running in GUI doesn't seem to stop it](https://github.com/UV-CDAT/uvcdat/issues/1197)
 * **Bug**: [animation vcs speed slider seem to have no effect](https://github.com/UV-CDAT/uvcdat/issues/1196)
 * **Enhancement**: [time slider should be disabled when running animation](https://github.com/UV-CDAT/uvcdat/issues/1195)
 * **Bug**: [isoline animation broken](https://github.com/UV-CDAT/uvcdat/issues/1194)
 * **Bug**: [isofill masked does not align with isofill cells](https://github.com/UV-CDAT/uvcdat/issues/1170)
 * ****: [Control + Click doesn't work in GUI](https://github.com/UV-CDAT/uvcdat/issues/1163)
 * **Bug**: [lines drawn behind data](https://github.com/UV-CDAT/uvcdat/issues/1143)
 * **Bug**: [Cannot animate Isofill](https://github.com/UV-CDAT/uvcdat/issues/1141)
 * **Bug**: [renderTemplate needs list, gets None](https://github.com/UV-CDAT/uvcdat/issues/1139)
 * **Bug**: [wrapping labels seems to still not work](https://github.com/UV-CDAT/uvcdat/issues/1133)
 * ****: [Isoline labels broken](https://github.com/UV-CDAT/uvcdat/issues/1132)
 * **Bug**: [test_isolines_label](https://github.com/UV-CDAT/uvcdat/issues/1111)
 * **Bug**: [Isofill are off](https://github.com/UV-CDAT/uvcdat/issues/1105)
 * **Bug**: [Removing marker with marker=None generates an error in yxvsx 1D plot (2.1)](https://github.com/UV-CDAT/uvcdat/issues/1103)
 * **Bug**: [No usch text combined](https://github.com/UV-CDAT/uvcdat/issues/1096)
 * ****: [animate.save() print statements](https://github.com/UV-CDAT/uvcdat/issues/1085)
 * **Bug**: [test failing because mean is different ](https://github.com/UV-CDAT/uvcdat/issues/1063)
 * **Enhancement**: [VCS 2D Interactivity](https://github.com/UV-CDAT/uvcdat/pull/1058)
 * ****: [taylordiagrams do not save json ](https://github.com/UV-CDAT/uvcdat/issues/1049)
 * **Enhancement**: [mean on vcs plots should use cdutil.averager if possible](https://github.com/UV-CDAT/uvcdat/issues/1024)
 * **Bug**: [in some case the continents are not plotted properly (polar proj with north pole)](https://github.com/UV-CDAT/uvcdat/issues/1020)
 * **Bug**: [invalid units lead to error at plot time](https://github.com/UV-CDAT/uvcdat/issues/1008)
 * **Bug**: [Refresh problem with 2.1](https://github.com/UV-CDAT/uvcdat/issues/1007)
 * **Bug**: [Multiple errors in vcs x.show](https://github.com/UV-CDAT/uvcdat/issues/999)
 * **Enhancement**: [Longitude and latitude labels](https://github.com/UV-CDAT/uvcdat/issues/976)
 * ****: [ctest might fail because of too many digits on mean](https://github.com/UV-CDAT/uvcdat/issues/952)
 * **Enhancement**: [Vcs3D reenable 3D logo](https://github.com/UV-CDAT/uvcdat/pull/943)
 * **Enhancement**: [Disable 3D plotting tools for data with two spatial dimensions.](https://github.com/UV-CDAT/uvcdat/issues/889)
 * **Bug**: [3D_Scalar Unexpected Error](https://github.com/UV-CDAT/uvcdat/issues/884)
 * ****: [boxfill plots don't pick proper interval](https://github.com/UV-CDAT/uvcdat/issues/867)
 * ****: [UV-CDAT Label on VCS 1D and 2D Plots](https://github.com/UV-CDAT/uvcdat/issues/857)
 * **Bug**: [The plotting of 120 plots and clearing  is taking too long](https://github.com/UV-CDAT/uvcdat/issues/715)
 * **Enhancement**: [Fix vcs interact warnings ](https://github.com/UV-CDAT/uvcdat/issues/651)
 * **Enhancement**: [animation png files should be cleaned (and somewhere else)](https://github.com/UV-CDAT/uvcdat/issues/616)
 * **Bug**: [animation seg fault on Linux](https://github.com/UV-CDAT/uvcdat/issues/615)

### VTK

 * **Bug**: [isolines labels are different between mac and linux](https://github.com/UV-CDAT/uvcdat/issues/1160)
 * **Bug**: [lines drawn behind data](https://github.com/UV-CDAT/uvcdat/issues/1143)
 * **Bug**: [vtkXOpenGLRenderWindow: Could not find a decent visual](https://github.com/UV-CDAT/uvcdat/issues/1134)
 * **Bug**: [Isofill are off](https://github.com/UV-CDAT/uvcdat/issues/1105)

### VisTrails

 * ****: [Control + Click doesn't work in GUI](https://github.com/UV-CDAT/uvcdat/issues/1163)
 * **Bug**: [Cython classmethod_utility_code used in VisTrails vtDVD3D](https://github.com/UV-CDAT/uvcdat/issues/1056)
 * **Bug**: [vtk package doesn't load](https://github.com/UV-CDAT/uvcdat/issues/1017)
 * **Bug**: [color map error](https://github.com/UV-CDAT/uvcdat/issues/957)
 * **Bug**: [animation seg fault on Linux](https://github.com/UV-CDAT/uvcdat/issues/615)

### Website

 * **Bug**: [UV-CDAT docs website: cdms/cdtime manual page problem](https://github.com/UV-CDAT/uvcdat/issues/1136)

## Known Bugs

### Critical

 * [Taylor diagrams (plot set 14)](https://github.com/UV-CDAT/uvcdat/issues/1180)
 * [Resize Window Core Dump](https://github.com/UV-CDAT/uvcdat/issues/236)




{% endblock container %}